---
layout: page
title: Lessons
breadcrumb: true
---

<!-- <div class="lessons">
	{% for lesson in site.lessons %}
		<h2><a href="{{ lesson.url | prepend: site.baseurl }}"><span class="lesson-title">{{ lesson.title }}</span>: <span class="lesson-subtitle">{{ lesson.subtitle }}</span></a></h2>
		<p>{{ lesson.content }}</p>
	{% endfor %}
</div>
<hr> -->
<!-- <div class="lessons">
	<h3>Set in: _config.yml</h3>
	{% for lesson in site.course.unit.lessons %}
		<h2><a href="{{ site.lessons.permalink | prepend: site.baseurl }}"><span class="lesson-title">{{ lesson.title }}</span>: <span class="lesson-subtitle">{{ lesson.subtitle }}</span></a></h2>
	{% endfor %}
	{% for exercise in site.assignments %}
		<h2><a href="{{ site.exercise.permalink | prepend: site.baseurl }}"><span class="exercise-title">{{ exercise.title }}</span>: <span class="exercise-subtitle">{{ exercise.subtitle }}</span></a></h2>
	{% endfor %}
</div> -->
	

{% assign assessments = site.data.schema.learning_components.assessments %}
{% assign modules = site.data.schema.learning_components.modules %}

{% for module in modules %}


<div class="row horizontal-accordion-card align-middle">
    <div class="small-12 medium-3 columns"><h2>{{ module.title }}</h2><p>{{ module.level }}</p></div>
    <div class="small-12 medium-9 columns">
        <dl class="accordion" data-accordion role="tablist">
            
            {% if module.tasks %}
            
                <dd class="accordion-navigation">
                    <a href="#panel-{{ module.title | slugify}}-{{ forloop.index }}-tasks" role="tab" id="panel-{{ module.title | slugify}}-{{ forloop.index }}-tasks-heading" aria-controls="panel-{{ module.title | slugify}}-{{ forloop.index }}-tasks">tasks</a>
                    <div id="panel-{{ module.title | slugify}}-{{ forloop.index }}-tasks" class="content" aria-labelledby="panel-{{ module.title | slugify}}-{{ forloop.index }}-tasks-heading">
                        <p>
                        
                        {% assign lectures = module.tasks | where: "type","lecture" %}
                        {% if lectures != empty %}
                        <h4>Lectures</h4>
                        <ul>
                            {% assign count = 0 %}
                            {% for task in lectures %}
                        {% assign count = count | plus: 1 %}
                            <li><a href="">{{ count }}. {{ task.title | capitalize }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        
                        {% assign readings = module.tasks | where: "type","reading" %}
                        {% if readings != empty %}
                        <h4>Readings</h4>
                        <ul>
                            {% assign count = 0 %}
                            {% for task in readings %}
                        {% assign count = count | plus: 1 %}
                            <li><a href="">{{ count }}. {{ task.title | capitalize }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        
                        {% assign exercises = module.tasks | where: "type","exercise" %}
                        {% if exercises != empty %}
                        <h4>Exercises</h4>
                        <ul class="menu vertical">
                            {% assign count = 0 %}
                            {% for task in exercises %}
                        {% assign count = count | plus: 1 %}
                            <li><a href="">{{ count }}. {{ task.title | capitalize }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        <p>
                    </div>
                </dd>
                
            {% endif %}
            {% if module.prerequisites %}
            
                <dd class="accordion-navigation">
                    <a href="#panel-{{ module.title | slugify}}-{{ forloop.index }}-prerequisites" role="tab" id="panel-{{ module.title | slugify}}-{{ forloop.index }}-prerequisites-heading" aria-controls="panel-{{ module.title | slugify}}-{{ forloop.index }}-prerequisites">prerequisites</a>
                    <div id="panel-{{ module.title | slugify}}-{{ forloop.index }}-prerequisites" class="content" aria-labelledby="panel-{{ module.title | slugify}}-{{ forloop.index }}-prerequisites-heading">
                        <p>
                        <ul>
                            {% assign count = 0 %}
                        {% for req in module.prerequisites %}
                        
                        {% assign count = count | plus: 1 %}
                            <li><a href="">Exercise {{ count }}: {{ task.title | capitalize }}</a></li>
                        {% endfor %}
                        </ul>
                        <p>
                    </div>
                </dd>
                
            {% endif %}
            
            
            
        </dl>
    </div>
</div>
{% endfor %}


