<aside class="side-menu">

			<nav class="sticky-container" data-sticky-container>
			  <div class="sticky" data-sticky data-anchor="toc" data-sticky-on="large">
				{% for item in page.toc %}
					<h3 class="side-menu">{{ item.title }}</h3>
					<ul class="vertical menu expanded" data-magellan>
						
							{% for entry in item.subfolderitems %}
							  <li><a class="" href="#{{ entry.heading | slugify}}">{{ entry.title }}</a></li>
							{% endfor %}
						
					</ul>
					{% endfor %}
			  </div>
			</nav>
		 

</aside>