{% assign items = include.items %}
{% assign subitems = include.subitems %}
<dl class="accordion" data-accordion role="tablist">

    
    <dd class="accordion-navigation">
        <a href="#panel-{{ module.title | slugify}}-{{ task.name | slugify }}-{{ forloop.index }}-tasks" role="tab" id="panel-{{ module.title | slugify}}-{{ task.name | slugify }}-{{ forloop.index }}-tasks-heading" aria-controls="panel-{{ module.title | slugify}}-{{ task.name | slugify }}-{{ forloop.index }}-tasks">{{ task.name }}</a>
        <div id="panel-{{ module.title | slugify}}-{{ task.name | slugify }}-{{ forloop.index }}-tasks" class="content" aria-labelledby="panel-{{ module.title | slugify}}-{{ task.name | slugify }}-{{ forloop.index }}-tasks-heading">
            <p>
            
            {% assign lectures = task.items | where: "type","lecture" %}
            {% if lectures != empty %}
            <h4>Lectures</h4>
            <ul>
                {% assign count = 0 %}
                {% for task in lectures %}
            {% assign count = count | plus: 1 %}
                <li><a href="">{{ count }}. {{ task.title | capitalize }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            
            {% assign readings = task.items | where: "type","reading" %}
            {% if readings != empty %}
            <h4>Readings</h4>
            <ul>
                {% assign count = 0 %}
                {% for task in readings %}
            {% assign count = count | plus: 1 %}
                <li><a href="">{{ count }}. {{ task.title | capitalize }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            
            {% assign exercises = task.items | where: "type","exercise" %}
            {% if exercises != empty %}
            <h4>Exercises</h4>
            <ul class="menu vertical">
                {% assign count = 0 %}
                {% for task in exercises %}
            {% assign count = count | plus: 1 %}
                <li><a href="">{{ count }}. {{ task.title | capitalize }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            <p>
        </div>
    </dd>
</dl>