{% for week in include.weeks %}
{% if week.enabled == true %}

  {% assign visible_date = week.visible | date: '%s' %}
  {% assign today_date = 'now' | date: '%s' %}
  {% if week.publish_delay == true %}
  {% if visible_date < today_date %}
    {% assign date_is_good = true %}
    {%endif%}
  {%endif%}
  
  {% if week.publish_delay == false or date_is_good == true %}
    
    <h2>Week {{ week.week_number }}</h2>
    <p>{{ week.start_date | date: '%B %d' }} – {{ week.end_date | date: '%B %d, %Y' }}</p>
    <hr>
    
    {% if week.lessons %}
        {% for lesson in week.lessons %}
        {%comment%}Create week's lesson item path{%endcomment%}
        {% assign lesson_pointer = lesson | remove: "collections/" %}   
        {%comment%}Create lesson url from week's lesson{%endcomment%}
        {% capture lesson_ref_url %}{{lesson | remove: "collections/_" | remove: ".md" | prepend: "/" | prepend: site.baseurl }}/{%endcapture%}
        {% for item in site.lessons %}
        {%comment%}if the lesson's path matches the week's lesson item path{%endcomment%}   
        {%if item.path == lesson_pointer %}
        <div class="row">
        <div class="columns">
            <h4><a href="{{lesson_ref_url}}">{{ item.title}}</a></h4>
            {% for lesson in site.lessons %}
                {% if lesson.path == lesson_pointer %}
                    {% assign page_all = lesson.all %}
                    {% assign page_beginner = lesson.beginner %}
                    {% assign page_intermediate = lesson.intermediate %}
                    {% assign page_advanced = lesson.advanced %}
                    {% include lesson-items.html all=page_all beginner=page_beginner intermediate=page_intermediate advanced=page_advanced %}
                {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
        {% endfor %}
           
            
            {%- comment -%}GET lessons that match references{%- endcomment -%}            
            
            

            
        {% endfor %}

    {% endif %}
    {% endif %}
{% endif %}      
{% endfor%}


