---
new_page_extension: md
auto_deploy: false
admin_path: "/admin/"
webhook_url: 
sections:
- type: heading
  label: Course Setup
- type: directory
  path: collections/_syllabus
  label: Syllabus
  create: documents
  match: "**/*"
- type: document
  path: pages/lesson-index.md
  label: Lessons Index
- type: heading
  label: Structure
- type: directory
  path: collections/_lessons
  label: Lessons
  create: all
  match: "**/*"
  templates:
  - lesson_builder
- type: heading
  label: Course Content
- type: document
  path: index.md
  label: Front Page
- type: directory
  path: collections/_agendas
  label: Agendas
  create: all
  match: "**/*"
  templates:
  - lecture-agenda
- type: directory
  path: collections/_lectures
  label: Lectures
  create: all
  match: "**/*"
  templates:
  - lesson-lecture
- type: directory
  path: collections/_readings
  label: Readings
  create: all
  match: "**/*"
  templates:
  - lesson-reading
- type: directory
  path: collections/_assignments
  label: Assignments
  create: all
  match: "**/*"
  templates:
  - assignment-builder
- type: directory
  path: collections/_quizzes
  label: Quizzes
  create: all
  match: "**/*"
  templates:
  - self-check-quiz
- type: jekyll-pages
  label: Pages
  create: all
- type: heading
  label: Data
- type: document
  path: _data/schedule/assignments.yml
  label: assignment data
  match: "**/*"
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - JEKYLL_ENV=staging
  preview_output_directory: _site
  install_dependencies_command: bundle install --path vendor/bundle
  preview_docker_image: forestryio/ruby:2.6
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: bundle exec jekyll serve --drafts --unpublished --future
    -d _site
