---
layout: nav-elements
---

    

<div class= "row full-width">
    <div class= "columns small-12 medium-5 large-6">
        <div class="row">
            <div class= "columns small-11 small-centered large-11">
        {% for section in page.page_sections %}
            {% if section.block %}
                {% unless section.block != "assignment-a-description" %}
                    {% include {{ section.block }} %}
                {% endunless %}
            {% endif %}
        {% endfor %}
        {{ page.content }} 
       
                {% for section in page.page_sections %}
                    {% if section.block %}
                        {% unless section.block != "assignment-g-submission" %}
                            {% include {{ section.block }} %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
        <div class= "columns small-12 medium-7 large-6">
            <div class="row ">
                <div class="columns small-11 small-centered medium-10 large-9 assignment-accordion">
                {% if page.accordion_mode == true %}
                    <dl class="accordion" data-accordion role="tablist">
                        {% for section in page.page_sections %}
                            {% if section.block %}
                            {% unless section.block == "assignment-a-description" %}
                                {% unless section.block == "assignment-g-submission" %}
                            
                                    {% include {{ section.block }} accordion_mode="true" %}
                    
                                {% endunless %}
                            {% endunless %}
                            {% endif %}
                        {% endfor %}
                    </dl>
                {% else %}
                    {% if section.block %}
                        {% unless section.block == "assignment-a-demo" %}
                            {% include {{ section.block }} %}
                        {% endunless %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
       
</div>







      