---
layout: nav-elements
---
<div class="row">
  
<div class="columns small-12">
{{ page.title }}
{{ content }}
<ul>
  {% for page_item in page.beginner.lectures %}
    {% assign collection_items = site.lectures %}   
      {%comment%}Create item pointer{%endcomment%}
      {% assign item_pointer = page_item | remove: "collections/" %}   
      {%comment%}Create url {%endcomment%}
      {% capture item_ref_url %}{{page_item | remove: "collections/_" | remove: ".md" | prepend: "/" | prepend: site.baseurl }}/{%endcapture%}
      {% for item in collection_items %}
      {%comment%}if the lesson's path matches the week's lesson item path{%endcomment%}   
      {%if item.path == item_pointer %}
      
      <li>
          <a href="{{item_ref_url}}">{{ item.title}}</a>
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}




</div>
</div>